<% include partials/header.ejs %>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><img alt="Brand" src="images/web-png.png" height="50" width="50"> MAXQ Monitoring
        Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto offset-lg-10">
            <li class="nav-item active">
                <a class="nav-link fa fa-cog" href="#" data-toggle="modal" data-target="#"
                   data-backdrop="static" data-keyboard="false"> Configure <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link fa fa-question-circle" href="#"> Help</a>
            </li>
            <li>
                <a id="signInSpinner" class="d-none">
                    <i class="fas fa-spinner"></i> Signing In</a>
            </li>

            <li>
                <a id="logoutLink" class="d-none" href="#">
                    <i class="fas fa-sign-out-alt"></i> Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <img class="img-fluid mx-auto d-block " src="/images/maxq-logo.png">
        </div>
        <div class="">
            <form role="search" method="post" id="loginForm" action="/users/add">
                <div class="form-group">
                    <div class="row offset-3 col-6">
                        <label for="userName" style="margin-bottom: 0"><B>Useremail:</B></label><br>
                        <input type="text" class="form-control" name="useremail" id="useremail" placeholder="Email">
                    </div>
                    <div class="row offset-3 col-6">
                        <label for="password" style="margin-bottom: 0"><b>Password:</b></label><br>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Password"><br>
                    </div>
                    <br>
                </div>
                <div class="form-group">
                    <br>
                    <div class="row align-items-center">
                        <button type="submit" class="btn btn-success offset-lg-6 offset-sm-5 offset-xs-10"
                                id="btnLogin" value="Sign In">Sign In
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>SHIPMENT_ID</th>
        <th>EVENT_TIME</th>
        <th>BOX_ID</th>
        <th>TEMP1</th>
        <th>TEMP2</th>
        <th>BATT</th>
    </tr>
    <% data.forEach(function (box){ %>
    <tr>
        <td><%= box.shipment_id %></td>
        <td><%= box.event_time %></td>
        <% if(box.data != undefined){ %>
        <td><%= box.box_id %></td>
        <td><%= box.data.temp1 %></td>
        <td><%= box.data.temp2 %></td>
        <td><%= box.data.batt %></td>
        <% } %>
    </tr>
    <% }) %>
</table>
<% include partials/footer.ejs %>
